# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log

# OS
.DS_Store

# IDE
.idea
.vscode

# Git
.git
.gitignore

# 注意：Demo 项目为了方便测试，将 .env 和 key 目录打包进镜像
# 生产环境请务必排除这些敏感文件

# GitHub
.github/

# Documentation
README.md
LICENSE

# Deploy scripts
deploy
*.sh

